@font-face {
    font-family: fuente-index;
    src: url(../fuentes/Unispace\ Bd.otf);
}

body {
    margin: 0;
    background-color: #48D1CC;
}


header {
    width: 80%;
    height: auto;
    margin-left: 10%;
}


header nav {
    background-color: #48D1CC;
    width: 100%;
    height: auto;
    font-family: fuente-index;

    display: flex;
    justify-content: center;
}

header nav ul {
   width: 100%;
   height: auto;

   list-style: none;
   padding: 0;

   display: flex;
}

header nav ul li {
    width: 100%;
    height: auto;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 6px 6px 5px #248f86;
    border-radius: 5%;
    width: 115px;
    height: 54px;
    display: flex;
    justify-content: center;

    color: white;
    margin: auto;

    text-align: center;
    line-height: 54px;
}

header nav ul li a:hover{
    font-size: 15px;
    transform: scaleX(1.2);
    transition-duration: 0.5s;
}

/* ----------------------------------- */
header > div {
    background-color: #48D1CC;
    width: 100%;

    display: flex;
}


#imagenlogo a{
    height: 54px;
    width: 54px;
    box-shadow: none;
}

#imagenlogo a img{
    border-radius: 5%;
}

#imagenlogo:hover{
    transform: scaleX(1.1);
    transform: scaleY(1.2);
    transition-duration: 0.5s;
}

#barra{
    margin-top: 5vh;
}

#barra-busqueda {
    text-transform: uppercase;
    height: auto;
    width: 80%;
    background-color: #48D1CC;
    text-align: center;
    line-height: 54px;

    display: flex;
    justify-content: end;
    align-items: center;
}

#busqueda{
    width: 100%;
}

#boton-carrito {
    height: 50px;
    width: 5%;
    background-color:#48D1CC;
    box-shadow: 2px 2px 5px aliceblue;
    border-radius: 5%;
    text-align: center;
    line-height: 54px;
    font-size: 20px;
}

#boton-carrito:hover{
    border-radius: 5%;
    transform: scaleX(1.2);
    transition-duration: 0.3s;
    
}

#logo-carrito{
    border-radius: 5%;
    height: 54px;
    width: auto;
}


#barra-busqueda form {
    width: 80%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#barra-busqueda form label {
    font-family: fuente-index;
    width: 25%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-right: 1px;
}

#barra-busqueda form input {
    width: 40%;
    height: 20px;
    color: white;
    margin: 1px;
}

#barra-busqueda form input[type="submit"] {
    background-color: #48D1CC;
    color: navy;
    border: none;
    box-shadow: 4px 4px lightblue;
    border-radius: 5%;
    width: 100px;
    height: 28px;
}

#barra-busqueda form input[type="submit"]:hover{
    transform: scaleX(1.1);
    transform-origin: left;
    transition-duration: 0.3s;
    pointer-events: visible;
    cursor: pointer;
}

#barra-busqueda form input[type="text"]{
    width: 50%;
}

#barra-busqueda form input[type="text"]:focus{
    color: black;
}
#barra-busqueda form input[type="text"]:hover{
    background-color: #48D1CC;
}

main {
    height: 550px;
}

footer {
    background-color:blueviolet;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
}

.centrar {
    text-align: center;
}