
main {
    height: auto;
    margin: auto;
}

.section-cards-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-cards-header h1 {
    color: black;
    font-family: fuente-index;
}

.section-cards{
    margin-left: 2%;
}

main .section-cards .contenedor-grid {
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


main .card-container .card{
    margin: auto;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .card-container .card .descripcion{
    padding: 2px;
    grid-column-start: 1;
    grid-column-end: 3;
}

main .card-container .card .envio{
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 20px;
}

main .card img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px;
}

main .card-container .card p{
    padding-left: 2px;
}

main .card button{
    background-color: var(--color--primario);
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-family: fuente-index;
    grid-column-start: 2;
    grid-column-end: 2;
}

.card-container a{
    text-decoration: none;
}


.card-container a .card{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 60%;
    margin: 15px;
    padding: 5%;
}

.card-container .card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}



main .card h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin: 20px;
}

main .card{
    background-color:orange;
    color: black;
    border-radius: 15px;
}


@media screen and (max-width: 1620px) {
    main {
    height: auto;
    margin: auto;
    }
    main .section-cards .contenedor-grid {
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

    main .card button{
    background-color: var(--color--primario);
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    font-family: fuente-index;
    grid-column-start: 2;
    grid-column-end: 2;
}
}


@media screen and (max-width: 1340px) {
    main {
    height: auto;
    margin: auto;
}

    main .card-container .card{
    margin: auto;
    height: auto;
}

    main .card-container{
    padding: 15px;
}

    main .section-cards .contenedor-grid {
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
}


    main .section-cards .contenedor-grid {
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
}

    .section-cards-header h1 {
    color: black;
    font-family: fuente-index;
    font-size: 20px;
}
}

@media screen and (max-width: 970px) {
    main {
    height: auto;
    margin: auto;
}

main .section-cards .contenedor-grid {
    height: auto;
    display: flex;
}

    main .section-cards .contenedor-grid {
    height: auto;
    display: grid;
    grid-template-columns: auto;
}

.section-cards-header h1 {
    color: black;
    font-family: fuente-index;
    font-size: 15px;
}

main .card-container{
    padding: 15px;
}

main .card-container .card{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

}

@media screen and (max-width: 420px){
    main .card-container .card{
    margin: auto;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
}
    main .card img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
}

    main .card button{
    background-color: var(--color--primario);
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    font-family: fuente-index;
    grid-column-start: 1;
    grid-column-end: 1;
}
}