
main {
    height: auto;
}

.section-cards-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-cards-header h1 {
    color: black;
    font-family: fuente-index;
}

.section-cards{
    margin-left: 2%;
}

main .section-cards .contenedor-grid {
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}


main .card-container .card{
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .card-container .card .descripcion{
    padding: 2px;
    grid-column-start: 1;
    grid-column-end: 3;
}

main .card-container .card .envio{
    grid-column-start: 1;
    grid-column-end: 1;
}

main .card img {
    width: 100px;
    height: 100px;
}

main .card-container .card p{
    padding: 2px;
}

.card-container a{
    text-decoration: none;
}


.card-container a .card{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 60%;
    margin: 15px;
    padding: 5%;
}

.card-container .card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}



main .card h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin: 20px;
}

main .card{
    background-color:orange;
    color: black;
    border-radius: 15px;
}

@media screen and (max-width: 1340px) {
    main .section-cards .contenedor-grid {
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
}
}

@media screen and (max-width: 900px) {
    main .section-cards .contenedor-grid {
    height: auto;
    display: grid;
    grid-template-columns: auto;
}
}
